.background{
  background-image: url("https://wallpapertops.com/walldb/original/2/a/1/495448.jpg") ;
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  text-align: center;
  height: 1080px;
}


.login-form {
  max-width: 300px;
  margin: 5rem auto;
  border-radius: 6px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  
}